<div class="flex h-screen items-center justify-center">
  <form class="grid grid-flow-row gap-6 max-w-xs">
    <div class="grid grid-flow-row gap-4">
      <input
        class="border border-gray-300 w-full rounded-lg px-4 py-2 duration-300 focus:border-primary outline-none"
        placeholder="Email"
        type="email"
      />
      <input
        class="border border-gray-300 w-full rounded-lg px-4 py-2 duration-300 focus:border-primary outline-none"
        placeholder="Password"
        type="password"
      />
      <button
        class="bg-primary w-full rounded-lg py-2 text-white font-bold"
        type="submit"
      >
        Login
      </button>
    </div>
    <div class="flex items-center justify-center">
      <a class="cursor-pointer text-primary" routerLink="/login">Sign Up</a>
    </div>
  </form>
</div>
