<div class="flex h-screen items-center justify-center">
  <form
    class="grid grid-flow-row gap-6 max-w-xs"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="text-red-500 text-center" *ngIf="error">{{ error }}</div>
    <div class="grid grid-flow-row gap-4">
      <div class="grid grid-flow-row gap-2">
        <input
          class="border border-gray-300 w-full rounded-lg px-4 py-2 duration-300 focus:border-primary outline-none"
          [ngClass]="isControlInvalid('email') ? 'border-red-500' : ''"
          placeholder="Email"
          type="email"
          formControlName="email"
          required
        />
        <div
          *ngIf="isControlInvalid('email')"
          class="text-xs text-center text-red-500"
        >
          <div *ngIf="getControlError('email', 'required')">Can't be blank</div>
        </div>
      </div>
      <div class="grid grid-flow-row gap-2">
        <input
          class="border border-gray-300 w-full rounded-lg px-4 py-2 duration-300 focus:border-primary outline-none"
          [ngClass]="isControlInvalid('name') ? 'border-red-500' : ''"
          placeholder="Name"
          name="name"
          type="text"
          formControlName="name"
          required
        />
        <div
          *ngIf="isControlInvalid('name')"
          class="text-xs text-center text-red-500"
        >
          <div *ngIf="getControlError('name', 'required')">Can't be blank</div>
        </div>
      </div>
      <div class="grid grif-flow-row gap-2">
        <input
          class="border border-gray-300 w-full rounded-lg px-4 py-2 duration-300 focus:border-primary outline-none"
          [ngClass]="isControlInvalid('password') ? 'border-red-500' : ''"
          placeholder="Password"
          type="password"
          name="password"
          minlength="6"
          formControlName="password"
          required
        />
        <div
          *ngIf="isControlInvalid('password')"
          class="text-xs text-center text-red-500"
        >
          <div *ngIf="getControlError('password', 'required')">
            Can't be blank
          </div>
          <div *ngIf="getControlError('password', 'minlength')">
            Too short (minimum is 6 characters)
          </div>
        </div>
      </div>
      <button
        class="bg-primary w-full rounded-lg py-2 text-white font-bold"
        type="submit"
      >
        Sign Up
      </button>
    </div>
    <div class="flex items-center justify-center">
      <a class="cursor-pointer text-primary" routerLink="/login">Login</a>
    </div>
  </form>
</div>
